{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'provision.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" href="{% static 'navbar2.css' %}">
        <link rel="stylesheet" href="{% static 'table.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="shortcut icon" href="#">
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

    <header style="position:fixed; margin: 0; padding:0; width:100%">
        <div class="nav-container">
            <div class="top-nav">
                <div class="atldrop">
                <button class="dropbtn">Atlancis Cloud 
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <!-- <h1>Atlancis Cloud</h1> -->
                </div>
                <a href="#nash"><i class="bi bi-person-circle"></i>Nash</a>
                    <a href="#account">
                    <i class="bi bi-person-vcard"></i>  
                    Account</a>
                        <a href="#billing">
                            <i class="bi bi-receipt"></i>
                            Billing</a>
                            <a href="#support">
                                <i class="bi bi-headset"></i>
                                Support</a>
                            <a href="#tickets"><i class="bi bi-ticket"></i>Tickets</a>
                    </div>
            <div class="bottom-nav">
            
                <a class="element" href="{% url 'devs:dashboard' %}">
                    Dashboard
                </a>
                <form method="post" autocomplete="on" action="{% url 'devs:provision' %}">
                    {% csrf_token %}
                <button class="element" href="{% url 'devs:provision' %}" style="padding-bottom: 20px;
                padding-top:15px; width:250px;">
                    Servers
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                </form>
                <!-- <div class="server-dropdown">
                
                <div class="server-content">
                    <a href="#">Create Server</a>
                    <a href="#">Modify Server</a>
                </div> -->
    
                <button class="element" href="#Orchestration">
                    Orchestration
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <button class="element" href="#Networking">
                    Networking
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <button class="element" href="#Storage">
                    Storage
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <button class="element" href="#Databases">
                    Databases
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <button class="element" href="#Backups">
                    Backups
                    <i class="bi bi-caret-down-fill"></i>
                </button>
            
            </div>
            </div>
            
    </header>
    <body>
{% block content %}
{% endblock %}

</body>
</html>