{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'password.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="password-box">
        <form method="post" autocomplete="on" action="{% url 'devs:main' %}">
          {% csrf_token %}

          <div class="pass">
            <h2>Create a new Password</h2>
            <p style="color: white">Insert your new password</p>
            <div class="password-field">
              <input type="password" name="password" placeholder="  New Password" />
              <input
                type="password"
                name="password"
                placeholder="  Retype new password"
              />
            </div>

            <a href="account">
              <button>Sign Up</button>
            </a>
            
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
